In [1]:
import pandas as pd

file_path = "C:/data/rainfile.txt"  

df = pd.read_csv(file_path, comment='#', sep=',', header=None, names=['STN', 'YYYYMMDD', 'RH'])

df['DATE'] = pd.to_datetime(df['YYYYMMDD'], format='%Y%m%d')

df['RH'] = df['RH'].replace(-1, pd.NA)

df['RH'] = df['RH'] / 10.0

      STN  YYYYMMDD   RH       DATE
0     240  20190201  0.9 2019-02-01
1     240  20190202  0.9 2019-02-02
2     240  20190203  0.0 2019-02-03
3     240  20190204  2.6 2019-02-04
4     240  20190205  0.0 2019-02-05
...   ...       ...  ...        ...
2246  240  20250327  0.0 2025-03-27
2247  240  20250328  0.4 2025-03-28
2248  240  20250329  0.0 2025-03-29
2249  240  20250330  0.2 2025-03-30
2250  240  20250331  0.0 2025-03-31

[2251 rows x 4 columns]

In [2]:
df['YEAR_MONTH'] = df['DATE'].dt.to_period('M').astype(str)

monthly_avg = df.groupby('YEAR_MONTH')['RH'].mean().reset_index()

monthly_avg.to_csv('monthly_avg_precipitation.csv', index=False)

monthly_avg

   YEAR_MONTH        RH
0     2019-02  1.459259
1     2019-03  2.446667
2     2019-04  1.167857
3     2019-05  1.248000
4     2019-06  3.924138
..        ...       ...
69    2024-11  3.060714
70    2024-12  3.488000
71    2025-01  3.620833
72    2025-02  1.178261
73    2025-03  0.096000

[74 rows x 2 columns]

In [3]:
import IPython
IPython.display.FileLink('monthly_avg_precipitation.csv')

C:\Users\20200797\monthly_avg_precipitation.csv